version: "3.9"

services:
  backend:
    container_name: mentora-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    restart: always